//====================================================================================================

.get-it {
   position: relative;
   background: url('@img/backgroung_blue.png') 0 0 no-repeat;
   background-size: contain;
   @include adaptiveValue("height", 900, 150);
   z-index: 3;
   @include adaptiveValue("margin-top", -130, -20);
   @include adaptiveValue("padding-top", 250, 10);
   @include adaptiveValue("margin-bottom", 40, 10);

   &__title {
      @include adaptiveValue("font-size", 47, 20);
      @include adaptiveValue("margin-bottom", 39, 1);
      text-align: center;
      line-height: 1.2;
      font-weight: 300;
      color: #fff8f6;
   }

   &__text {
      @include adaptiveValue("margin-bottom", 75, -5);
      @include adaptiveValue("font-size", 18, 10);
      text-align: center;
      line-height: 30px;
      font-weight: 400;
      letter-spacing: 0.025em;
      color: #fff8f6;
   }

}
.buttons-get {
   display: flex;
   justify-content:center;
   @include adaptiveValue("gap", 61, 10);

   &__1 {
      display: flex;
      @include adaptiveValue("padding-top", 31, 10);
      @include adaptiveValue("padding-right", 87, 10);
      @include adaptiveValue("padding-bottom", 31, 10);
      @include adaptiveValue("padding-left", 63, 15);
      @include adaptiveValue("gap", 36, 10);
      border: 2px solid #ffffff;
      @media (any-hover: hover){
         &:hover{
            cursor: pointer;
            button {
               color: rgb(224, 146, 28)
            }
         }
      }
      button {
         @include adaptiveValue("font-size", 30, 10);
         transition: all 0.3s ease 0s;
         line-height: 1.2;
         font-weight: 300;
         color: #ffffff;
      }
   }

   &__2 {
      display: flex;
      @include adaptiveValue("padding-top", 31, 10);
      @include adaptiveValue("padding-right", 87, 10);
      @include adaptiveValue("padding-bottom", 31, 10);
      @include adaptiveValue("padding-left", 63, 15);
      @include adaptiveValue("gap", 36, 10);
      border: 2px solid #ffffff;
      @media (any-hover: hover){
         &:hover{
            cursor: pointer;
            button {
               color: rgb(224, 146, 28)
            }
         }
      }
      button {
         @include adaptiveValue("font-size", 30, 10);
         transition: all 0.3s ease 0s;
         line-height: 1.2;
         font-weight: 300;
         color: #ffffff;
      }
   }
}
//====================================================================================================

.features {
   display: flex;
   justify-content:center;
   @include adaptiveValue("gap", 266, 100);
   padding: 0 20px;
   @media (max-width:972px){
        display: block;
        .block-features {
         margin: 0px 0px 20px 0px;
         &__title {
            text-align: center;
         }
        }
   }

}
.block-features {

   &__title {
      @include adaptiveValue("font-size", 47, 20);
      @include adaptiveValue("margin-bottom", 53, 20);
      line-height: 1.2;
      font-weight: 300;
      color: #343434;
      @include adaptiveValue("padding-left", 10, 5);
   }

   &__items {
      @media (max-width: 972px){
           display: flex;
           justify-content:center;
      }
   }
}
.items-block {

   &__top {
      display: flex;
      @include adaptiveValue("gap", 139, 40);
      @include adaptiveValue("margin-bottom", 40, 10);
   }

   &__bottom {
      display: flex;
      @include adaptiveValue("gap", 139, 40);
   }

}
.item-block {

   &__img {
      @include adaptiveValue("width", 98, 70);
      @include adaptiveValue("height", 98, 70);
      background-color: rgba(253,167,140,0.0);
      border: 2px solid #007ecf;
      border-radius: 50%;
      @include adaptiveValue("margin-bottom", 19, 10);
      @include adaptiveValue("margin-left", 40, 20);
      position: relative;
      img {
         position: absolute;
         @include adaptiveValue("top", 25, 13);
         @include adaptiveValue("left", 25, 10);
      }
   }
   &__img_bottom {
      @include adaptiveValue("width", 98, 70);
      @include adaptiveValue("height", 98, 70);
      background-color: rgba(253,167,140,0.0);
      border: 2px solid #007ecf;
      border-radius: 50%;
      @include adaptiveValue("margin-bottom", 19, 10);
      @include adaptiveValue("margin-left", 40, 20);
      position: relative;
      img {
         position: absolute;
         @include adaptiveValue("top", 30, 13);
         @include adaptiveValue("left", 30, 18);
      }

   }

   &__text {
      @include adaptiveValue("font-size", 18, 10);
      @include adaptiveValue("line-height", 30, 15);
      font-weight: 400;
      letter-spacing: 0.025em;
      color: #585858;
   }
}

.images-features {
   position: relative;
   flex: 0 1 30%;
   display: flex;
   justify-content:center;


   &__left {
      @media (max-width: 972px){
         position: relative;
    }
      img {
         position: absolute;
         top: 20px;
         @include adaptiveValue("left", 35, -200);
         z-index: 2;
         @media (max-width: 972px){
              @include adaptiveValue("left", 160, -210);
         }
      }
   }

   &__center {
      position: relative;
      z-index: 4;
   }

   &__right {

      img {
         position: absolute;
         top: 20px;
         @include adaptiveValue("left", 300, 0);
         z-index: 2;
      }

   }
}
//====================================================================================================

.choose {
   background: url('@img/backgroung_blue_2.png') 0 0 no-repeat;
   background-size: cover;
   color: #fff8f6;
   @include adaptiveValue("height", 1400, 550);
@include adaptiveValue("margin-bottom", 100, -10);

   &__cnt {
      @include adaptiveValue("padding-top", 236, 25);
   }

   &__title {
      @include adaptiveValue("font-size", 47, 20);
      @include adaptiveValue("margin-bottom", 31, 5);
      text-align: center;
      line-height: 1.2;
      font-weight: 300;

   }

   &__text {
      @include adaptiveValue("font-size", 18, 10);
      @include adaptiveValue("line-height", 30, 15);
      @include adaptiveValue("margin-bottom", 65, 5);
      text-align: center;
      letter-spacing: 0.025em;
   }

}
.main-items {
   display: flex;
   justify-content:center;
   @include adaptiveValue("gap", 70, 20);

   &__image {
      display: flex;
      align-items:center;
  
      img {
         @include adaptiveValue("width", 300, 80);

      }
   }
}

.left-item {

   &__cnt {
      @include adaptiveValue("width", 370, 100);
   }

   &__title {
      @include adaptiveValue("font-size", 20, 12);
      @include adaptiveValue("line-height", 30, 15);
      @include adaptiveValue("margin-bottom", 25, 5);
      font-weight: 700;
      text-transform: uppercase;
      letter-spacing: 0.025em;
      color: #ffffff;
      text-align: right;
   }

   &__text {
      @include adaptiveValue("font-size", 18, 10);
      @include adaptiveValue("line-height", 30, 15);
      @include adaptiveValue("margin-bottom", 70, 10);
      letter-spacing: 0.05em;
      color: #ffffff;
   }
}

.right-item {

   &__cnt {
      @include adaptiveValue("width", 370, 100);
   }

   &__title {
      @include adaptiveValue("font-size", 20, 12);
      @include adaptiveValue("line-height", 30, 15);
      @include adaptiveValue("margin-bottom", 25, 5);
      font-weight: 700;
      text-transform: uppercase;
      letter-spacing: 0.025em;
      color: #ffffff;
   }

   &__text {
      @include adaptiveValue("font-size", 18, 10);
      @include adaptiveValue("line-height", 30, 15);
      @include adaptiveValue("margin-bottom", 70, 10);
      letter-spacing: 0.05em;
      color: #ffffff;
   }
}

//====================================================================================================

.slider {
   @include adaptiveValue("margin-bottom", 84, 20);

   &__wrapper {
      @include adaptiveValue("margin-left", 170, -8);
   }

   &__title {
      @include adaptiveValue("margin-bottom", 63, 20);
      @include adaptiveValue("font-size", 47, 20);
      text-align: center;
      line-height: 1.2;
      font-weight: 300;
      color: #4b4b4b;
   }

   &__buttons {
            display: flex;
            justify-content:center;
            @include adaptiveValue("gap", 50, 10);
            @include adaptiveValue("margin-bottom", 50, 10);
         }
         &__slide-1 {
            img {
               max-width: 100%;
            }
         }
   
         &__slide-2 {
            img {
               max-width: 100%;
               }
         }
   
         &__slide-3 {
            img {
                max-width: 100%;
               }
         }
   }

   .swiper-button-prev {
      transform: rotate(-180deg);
      width: 72px;
      height: 72px;
      border: 2px solid #007ecf;
      border-radius: 50%;
   }
   .swiper-button-next {

      width: 72px;
      height: 72px;
      border: 2px solid #007ecf;
      border-radius: 50%;
   }
//====================================================================================================

.video {
   background: url('@img/ppl-back.png') 0 0 no-repeat;
   background-size: cover;
   @include adaptiveValue("height", 1200, 320);
   @include adaptiveValue("margin-bottom", 140, 20);

   &__title {
      @include adaptiveValue("padding-top", 220, 20);
      @include adaptiveValue("font-size", 47, 20);
      @include adaptiveValue("margin-bottom", 60, 10);
      text-align: center;
      line-height: 1.2;
      font-weight: 300;
      color: #ffffff;
   }

   &__image {

      &_play {
         position: relative;
         z-index: 4;@include adaptiveValue("top", 260, 100);
         @include adaptiveValue("width", 64, 20);
         @include adaptiveValue("height", 64, 20);
         margin: 0 auto;
         @media (any-hover: hover){
            &:hover{
               cursor: pointer;
            }
         }
         img {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
         }
      }

      &_main {
         position: relative;
         @include adaptiveValue("width", 770, 300);
         @include adaptiveValue("height", 443, 200);
         margin: 0 auto;
         img {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
         }
      }
   }
}

//====================================================================================================
.download {

   &__title {
      @include adaptiveValue("font-size", 47, 20);
      @include adaptiveValue("margin-bottom", 75, 20);
      text-align: center;
      line-height: 1.2;
      font-weight: 300;
      color: #333333;
   }


   &__photo {
      @include adaptiveValue("margin-bottom", 83, 20);
      position: relative;
      @include adaptiveValue("width", 800, 250);
      @include adaptiveValue("height", 382, 100);
      margin: 0 auto;
      img {
         position: absolute;
         top: 0;
         left: 0;
         width: 100%;
         height: 100%;
      }
   }
}
.main-download {
   @media (max-width: 786px){
        flex-direction: column;
        justify-content:center;
        align-items:center;
   }
   display: flex;
   justify-content:center;
   @include adaptiveValue("gap", 67, 20);

   &__items {
      @include adaptiveValue("margin-bottom", 75, 20);
      display: flex;
      justify-content: center;
      align-items:center;
      @include adaptiveValue("gap", 36, 5);
   }

}

.item-download {

   &_1 {
      @include adaptiveValue("width", 167, 120);
      @include adaptiveValue("height", 167, 120);
      @include adaptiveValue("gap", 5, 2);
      @include adaptiveValue("font-size", 18, 10);
      line-height: 1.2;
      font-weight: 700;
      color: #ffffff;
      background-color: #a5c63b;
      border-radius: 50%;
      display: flex;
      flex-direction: column;
      justify-content:center;
      align-items:center;
   }

   &_2 {
      @include adaptiveValue("width", 167, 120);
      @include adaptiveValue("height", 167, 120);
      @include adaptiveValue("font-size", 18, 10);
      line-height: 1.2;
      font-weight: 700;
      color: #ffffff;
      background-color: #009ddc;
      border-radius: 50%;
      display: flex;
      @include adaptiveValue("gap", 7, 2);
      flex-direction: column;
      justify-content:center;
      align-items:center;
   }

   &_3 {
      @include adaptiveValue("width", 167, 120);
      @include adaptiveValue("height", 167,120);
      @include adaptiveValue("font-size", 18, 10);
      line-height: 1.2;
      font-weight: 700;
      color: #ffffff;
      background-color: #f8682c;
      border-radius: 50%;
      display: flex;
      @include adaptiveValue("gap", 7, 2);
      flex-direction: column;
      justify-content:center;
      align-items:center;
   }

   &__number {
      @include adaptiveValue("font-size", 18, 10);
      line-height: 1.2;
      font-weight: 700;
   }

}

.form-download {

   &__title {
      @include adaptiveValue("font-size", 18, 10);
      @include adaptiveValue("line-height", 30, 15);
      @include adaptiveValue("margin-bottom", 35, 10);
      @include adaptiveValue("padding-left", 15, 7);
      font-style: italic;
      letter-spacing: 0.05em;
      color: #1b1b1b;
   }

}
.form {
   display: flex;
   justify-content:center;
   align-items:center;
   @include adaptiveValue("gap", 20, 10);
   @media (max-width: 786px){
      margin: 0px 0px 20px 0px;
 }

   &__input {
      @include adaptiveValue("width", 400, 100);
      padding: 7px 15px;
      border-bottom: 1px solid #7c7c7c;
   }

}
.button-form {
   border: 1px solid #000;
   @include adaptiveValue("width", 100, 70);
   @include adaptiveValue("height", 38, 40);

   button {
      text-transform: uppercase;
      width: 100%;
      height: 100%;
      @include adaptiveValue("font-size", 15, 10);
      @include adaptiveValue("line-height", 30, 15);
      font-weight: 700;
      letter-spacing: 0.05em;
      color: #505050;
      transition: all 0.3s ease 0s;
      @media (any-hover: hover){
         &:hover{
             color: rgb(224, 146, 28);
         }
      }
   }
}
//====================================================================================================

.app {
   background: url('@img/background_blue_3.png') 0 0 no-repeat;
   background-size: cover;
   @include adaptiveValue("height", 1200, 350);
   @include adaptiveValue("margin-bottom", 46, 20);
   color: #ffffff;

   &__title {
      @include adaptiveValue("font-size", 47, 25);
      @include adaptiveValue("margin-bottom", 69, 20);
      @include adaptiveValue("padding-top", 200, 30);
      text-align: center;
      line-height: 1.2;
      font-weight: 300;
   }

}
.flex-cnt {
   display: flex;
   justify-content:center;
   @include adaptiveValue("gap", 150, 10);
   @include adaptiveValue("margi-left", -170, 0);

   &__form {
      display: flex;
      flex-direction: column;
      @include adaptiveValue("gap", 40, 20);
   }
}
.form-flex {
   ::placeholder {
      color:#fff
   }
   input {
      border-bottom: 1px solid #ffff;
      @include adaptiveValue("width", 371, 100);
      background-color: inherit;
      color:rgb(255, 255, 255);
      @include adaptiveValue("padding-top", 10, 6);
      @include adaptiveValue("padding-right", 10, 6 );
      @include adaptiveValue("padding-left", 10, 6);
      @include adaptiveValue("font-size", 18, 10);
      @include adaptiveValue("line-height", 35, 15);
      letter-spacing: 0.05em;
      opacity: 0.83;
   }
   &__name {
      @include adaptiveValue("padding-bottom", 10, 6);
   }

   &__mail {
      @include adaptiveValue("padding-bottom", 10, 6);
   }

   &__phone {
      @include adaptiveValue("padding-bottom", 10, 6);
   }

   &__message {
      @include adaptiveValue("padding-bottom", 100, 6);
   }

   &__button {
      border: 2px solid #ffffff;
      @include adaptiveValue("width", 100, 70);
      @include adaptiveValue("height", 38, 40);
      button {
         text-transform: uppercase;
         width: 100%;
         height: 100%;
         @include adaptiveValue("font-size", 15, 10);
         @include adaptiveValue("line-height", 30, 15);
         font-weight: 700;
         letter-spacing: 0.05em;
         color:rgb(255, 255, 255);
         transition: all 0.3s ease 0s;
         @media (any-hover: hover){
            &:hover{
                color: rgb(224, 146, 28);
            }
         }
      }
   }
}

.icons-flex {

   &__icon {
      margin:0 auto;
      @include adaptiveValue("margin-bottom", 34, 10);
      @include adaptiveValue("width", 40, 15);
      img {
         max-width: 100%;
      }
   }

   &__text {
      text-align: center;
      @include adaptiveValue("width", 185, 100);
      @include adaptiveValue("margin-bottom", 79, 29);
      @include adaptiveValue("font-size", 18, 10);
      @include adaptiveValue("line-height", 30, 15);
      letter-spacing: 0.05em;
      span {
         display: block;
      }
   }
}
.chat {
   @include adaptiveValue("padding-top", 30, 5);
   display: flex;
   flex-direction: column;
   align-items:center;
   &__title {
      text-align: center;
      @include adaptiveValue("font-size", 30, 15);
      @include adaptiveValue("margin-bottom", 50, 10);
      line-height: 1.2;
      font-weight: 700;
   }

   &__image {
      margin: 0 auto;
      @include adaptiveValue("width", 170, 50);
      @include adaptiveValue("height", 170, 50);
      @include adaptiveValue("margin-bottom", 33, 10);
      img {
         max-width: 100%;
      }
   }

   &__name {
      @include adaptiveValue("font-size", 18, 10);
      @include adaptiveValue("line-height", 30, 15);
      @include adaptiveValue("margin-bottom", 10, 5);
      letter-spacing: 0.05em;
      text-align: center;
   }

   &__status {
      @include adaptiveValue("font-size", 12, 9);
      @include adaptiveValue("margin-bottom", 35, 10);
      @include adaptiveValue("width", 85, 50);
      @include adaptiveValue("height", 23, 15);

      display: flex;
      justify-content:center;
      align-items:center;
      background-color: #05d10f;
      border-radius: 11.5px;
      font-weight: 700;
      text-align: center;
      text-transform: uppercase;
   }

   &__button {
      border: 2px solid #ffffff;
      @include adaptiveValue("width", 150, 70);
      @include adaptiveValue("height", 38, 40);
      button {
         text-transform: uppercase;
         width: 100%;
         height: 100%;
         @include adaptiveValue("font-size", 15, 10);
         @include adaptiveValue("line-height", 30, 15);
         font-weight: 700;
         letter-spacing: 0.05em;
         color:rgb(255, 255, 255);
         transition: all 0.3s ease 0s;
         @media (any-hover: hover){
            &:hover{
                color: rgb(224, 146, 28);
            }
         }
      }
   }
}
//====================================================================================================